@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* base rule */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins",sans-serif;

}

p,
li,
a
{
    font-family: "Urbanist",sans-serif;
    font-size:1.8rem;
    letter-spacing: 0.1rem;

}

/* theme */
:root{
--main-color: #0062ff;
--supporting-color: #ebf3fe;
--font-color: #424242;
/* --bg-color: #ffffff; */
--bg-color: #f7fcff;
--heading-color: #000a19;
--hero-heading-color: #003b99;
--white-color: #ffffff;
--para-color: #504e4d;
--bnt-hover-bg-color: #003b99;
--btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
--footer-bg-color: #040d12;
}

/* layout */


.grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

.btn{
    display: inline-block;
    background-color: var(--main-color);
    padding: 1.2rem 3.2rem;   /*-->this will not work here*/
    color: var(--white-color);
    border-radius:0.6rem ;
    -webkit-border-radius:0.6rem ;
    -moz-border-radius:0.6rem ;
    -ms-border-radius:0.6rem ;
    -o-border-radius:0.6rem ;
}

.btn:hover{
    background-color: var(--bnt-hover-bg-color);
    color:#ffffff;
    cursor:pointer;
    box-shadow: var(--btn-box-shadow);
}


/* module/reusable */
.post-section .container .section-common-heading{
    font-size: 6rem;
    /* font-family: Algerian; */
    font-family: jost;
    /* color: var(--hero-heading-color); */
    color: var(--main-color);
    letter-spacing: 0.1rem;

}

.post-section .container .section-common-subheading{
    font-weight: 700;
    color: var(--main-color);
}

.common-div .sub-sub-heading{
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 2rem 0 0 0;
}
.common-div{
    margin: 2.4rem 0 1.2rem 0;
}

.common-div .common-text--highlight{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* states */



/* start navbar section */
.container{
    max-width:142rem ;
    margin: 0 auto;
    padding:9.6rem 2.4rem;

}

.section-navbar{
    width:100%;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0px 0px 0px 1px;
}

.logo{
    /* width: 13rem; */
    width: 20%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.section-navbar .NavBar ul{
    display: flex;
    gap: 20px;
    text-transform: uppercase;

}

.section-navbar .NavBar a{
    text-decoration: none;
    color: brown;
    font-size: 15px;
    font-weight: 700;
}
.section-navbar .NavBar a:visited{
    color: #d67e03;

}
.section-navbar .NavBar a:hover{
    color:#0062ff;
    

}
.section-navbar .NavBar a:active{
    color:#f31559 ;
}

ul li{
    list-style: none;
}


/* Hero-Section */

main{
    position:relative;

    background-image: linear-gradient( 
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}

    /* shape divider */
    .custom-shape-divider-bottom-1739873187 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1739873187 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1739873187 .shape-fill {
        fill: #FFFFFF;
    }

.section-hero .grid{
    align-items: center;
    gap:6.4rem;

    & .sub-heading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color:var(--hero-heading-color);
        font-weight: 700;
    }

    & .main-heading{
        text-transform: uppercase;
        font-family: jost;
        font-size: 5.8rem;
        font-weight: 900;
        color: var(--hero-heading-color);
        line-height: 1.5;
        
        
    }

    & .Intro-para{
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }



}





.section-hero-image img{
    width: 100%;
    height:auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}


/* End Hero Section */


/* Start What to post section */

.grid{
    gap: 9.6rem;
}

.post-section .container{
    padding: 3rem 2.4rem;
}



/* right side */
/* .post-section .common-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: justify;
} */

.post-section .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    /* gap: 20px; */
}

/* .post-left--div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    text-align: justify;
} */

.common-text--highlight{
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Center part */

.center-image img{
    width: 100%;
    height: auto;
}

.center-image,
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #about{
    scroll-behavior:smooth;
} */

/* End What to Post */


/* Start Login Page */

.Login-section .main-heading{
    font-size: 6rem;
    letter-spacing: 0.1rem;
    font-family: jost;
    color: var(--white-color);
    text-align: center;
}

.Login-section .sub-heading{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    /* font-family: jost; */
    color: var(--white-color);
    text-align: center;
}

.Login-section .form-section{
    font-size: 2.6rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    text-align: center;
    padding: 2.4rem 2.4rem;
}

/* .Login-section .container{
    border:  6rem solid var(--hero-heading-color);
    
} */
input, textarea{
    width:40%;
    padding: 1.4rem 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}


#log-btn{
    /* width: 10rem; */
    /* aspect-ratio: 1; */
    /* height: auto; */
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    
    color: var(--bg-color); 
     font-size: 2.4rem;
}

.log-anchor-btn{
    color:var(--bg-color);;
    font-size: 2.4rem;
}
.log-btn:hover{
    background-color: var(--bnt-hover-bg-color);
}

.reset-btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 2.4rem;
}
.reset-btn:hover{
    background-color: var(--bnt-hover-bg-color);

}
.common-anchor{
    font-size:2.4rem ;
    font-weight: 900;
    /* color: var(--main-color); */
    color: white;
    
}

.common-anchor:hover{
    color: red;
}

.common-anchor:hover{
    color: var(--bnt-hover-bg-color);

}



/* video background */

.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: -1;

}
.Login-section{
    position: relative;
    z-index:1;

}

/* End Login Page */

/* Start Register Form */

.register-section .main-heading{
    font-size: 6rem;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    font-family: jost;
    text-align: center;
}
.register-section .sub-heading{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    font-family: jost;
    text-align: center;
}

.register-form-section{
    padding: 6.4rem 2.4rem;
    font-size: 2.6rem;
    font-weight: 200;
    color: var(--white-color);
    letter-spacing: 0.1rem;
}


.register-section .container{
    padding-top: 6rem;
}



.register-section label{
    display: block;
    text-transform: capitalize;
}

.register-section .mb-3{
    margin: 3.2rem;
    font-size: 2.8rem;
    color: var(--white-color);
    
    & input,textarea{
        width: 100%;
        padding: 1.4rem;
    }
}

#register-btn{
    width: 15rem;
    height: auto;
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 2.4rem ;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.cancel-btn{
    width: 15rem;
    height: auto;
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 2.4rem ;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}
.register-section{
    position: relative;
    z-index: 1;
}



/* Start realhero section */

.section-hero{
    width: 100%;
    height: 100%;
}

.btn-post{
    margin-top: 7rem;
    margin-right: 2rem;
}

.hero-image-section{
    width:100%;
    height: auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}